.dashboard-summary {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.summary-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 45px;
    text-align: center;
    width: 50%; 
    margin: 10px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.summary-item h2 {
    margin-bottom: 10px;
    margin-right: 1rem;
}

.summary-item p {
    font-size: 24px;
    font-weight: bold;
}

.income-p {
    color: rgb(19, 87, 19);
}

.expenses-p {
    color: rgb(164, 55, 55);
}

@media (min-width: 600px) {
    .summary-item {
        width: calc(33% - 20px); 
    }
}

.chart-container {
    width: 100%;
    max-width: 1000px;
}

.savings-goals {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    width:94%; 
    margin-left: 10px;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 8px;
    height: 20px;
    width: 100%; 
    margin: 10px 0;
}

.savings-goal {
    text-align: center;
}

.progress {
    background-color: #4caf50;
    height: 100%;
    border-radius: 8px;
    transition: width 0.5s; /* Smooth transition */
}

.insights {
    margin: 10px 0;
}

.insights h2 {
    margin-bottom: 15px;
    text-align: left; 
    padding-left: 10px; 
    white-space: nowrap; 
}

.insights-boxes {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.insight-item {
    background-color: #ffffff;
    padding: 33px;
    text-align: center;
    flex: 1; 
    margin: 0 10px; 
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.insight-item p {
    margin-top: 1rem;
    font-size: 17px;
}

.dashboard-container {
    display: flex; 
    margin-top: 3rem;
}

.left-section {
    flex: 0 0 70%; 
    padding: 20px;
    width: 50rem;
}

.right-section {
    background-color: rgb(27, 30, 31);
}

.charts-container {
    justify-content: space-between;
    margin-top: 8rem;
}

.table-section {
    margin-top: 20px; /* Space above tables */
}

/* ................. */

.table-container {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    margin-left: 5rem;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.data-table th, .data-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

.data-table th {
    background-color: #f8f9fa;
    color: #333;
}

.data-table tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

.chart-section {
    display: flex;
}